*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

//html,
//body,
//#app {
//  position: relative;
//  height: 100%;
//}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inline-flex {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-wrap-wrap {
  flex-wrap: wrap;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}
